<%= form_for current_user.relationships.build(:followed_id => @user.id) do |f| %>  <!-- :remote => true  # Listing 12.34  Ajax enabled -->
  <div><%= f.hidden_field :followed_id %></div>
  <div class="actions"><%= f.submit "Follow" %></div>
<% end %>